@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap');


@import "tailwindcss";

@theme {
  --font-libre: "Libre Baskerville", serif;
  --font-momo: "Momo Trust Sans", sans-serif;
}